/* Google font */
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import url('https://a.wattpad.com/cover/124708175-352-k927639.jpg');

/*defining how the front facing background will be*/
body {
  background-color: #720000;
  background-image:url("https://a.wattpad.com/cover/124708175-352-k927639.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-color 1s;
  overflow-x: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  min-width: 100%;
  clear: both;
}


/*here controls the clock positioning, look and feel*/
#clock {
  font-family: 'Righteous', sans-serif;
  color: #11DD42;
  font-size: 40px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
  text-shadow: 7px 7px 6px black;
  padding: 7px 3px 7px 3px;
}

/* content block*/
#container {
  font-family: 'Courgette', sans-serif;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.1);
  background-shadow: 10px orange;
  padding: 15px;
}

#container2 {
  font-family: 'Courgette', sans-serif;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.1);
  background-shadow: 10px orange;
  padding: 15px;
  margin-bottom: 15px;
}

/* the look and feel of the jumbo button*/
.button {
  color: #ffffff;
  font-size: 20px;
  background: rgb(213,105,29);
  background: -moz-linear-gradient(90deg, rgba(213,105,29,1) 0%, rgba(253,29,29,1) 50%, rgba(193,197,86,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(213,105,29,1) 0%, rgba(253,29,29,1) 50%, rgba(193,197,86,1) 100%);
  background: linear-gradient(90deg, rgba(213,105,29,1) 0%, rgba(253,29,29,1) 50%, rgba(193,197,86,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d5691d",endColorstr="#c1c556",GradientType=1); border: 0px;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 4px 12px 0 black;
  transition: all 0.4s ease;
}

.button:hover {
  -webkit-animation: gradient 3s ease infinite;
  -moz-animation: gradient 3s ease infinite;
  animation: gradient 3s ease infinite;
}

/* aligning items in a vertical direction using flex with the column direction */
.player {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,0,0,0.2);
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#lyrics {
  font-size: 17px;
  padding: 10px 4px 10px 4px;
  color: white;
  font-family: times-new-roman;
  text-align: center;
  background-color: rgba(255,0,0,0.2);
  border: 2px solid red;
  border-radius: 10px;
  box-shadow: 0 20px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 {
  color: red;
  font-size: 20px;
  text-decoration: underline;
  text-transformation: uppercase;
  text-shadow: 2px 2px 4px white;
}
 
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}
 
.track-art {
  margin: 15px 15px 0 15px;
  height: 150px;
  width: 150px;
  background-image: URL("https://media.hitparade.ch/cover/big/juice_wrld-righteous_s.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 15%;
}
 
/* Changing the control look and feel to suitable choices */
.now-playing {
  font-size: 0.8rem;
  color: white;
}
 
.track-name {
  font-size: 1.8rem;
  font-family: 'Righteous', san-serif;
  color: white;
  padding: 10px;
}
 
.track-artist {
  font-size: 1rem;
  font-family: 'Courgette', san-serif;
  color: #11DD42;
  padding: 10px;
  text-shadow: 3px 3px 5px black;
}
 
/* Using flex with the row direction to
   align items in a horizontal direction */
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
.playpause-track,
.prev-track,
.next-track {
  padding: 20px;
  opacity: 0.8;
 
  /* Smoothly transition the opacity */
  transition: opacity .2s;
}
 
/* Change the opacity when mouse is hovered */
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}
 
/* Define the slider width so that it scales properly */
.slider_container {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
/* Modify the appearance of the slider */
.seek_slider, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #ff9900;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
 
/* Modify the appearance of the slider thumb */
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}
 
/* Change the opacity when mouse is hovered */
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}
 
.seek_slider {
  width: 80%;
}
 
.volume_slider {
  width: 50%;
}
 
.current-time,
.total-duration {
  padding: 10px;
  color: white;
  font-size: 16px;
}
 
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
  color: white;
}
 
/* Change the mouse cursor to a pointer
   when hovered over */
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
  color: white;
}

i.fa-exclamation-triangle {
  cursor: none;
  color: red;
  text-align: center;
  width: 100%;
  padding-top: 5px;
}

i.fab-creative-commons {
  cursor: none;
  color: red;
  text-align: center;
  width: 100%;
}
/* NavBar Section*/
  

.topnav {
  position: sticky;
  top: 0px;
  align-items: center;
  background-color: red;
  z-index: 9999;
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.4);
}

.topnav a {
  justify-content: center;
  padding: 10px;
  vertical-align: middle;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  float: right;
  font-family: 'Righteous', sans-serif;
}
.topnav a.brand { 
 font-family: 'Righteous', sans-serif;
 float: left;
 color: red;
 text-align: center;
 background-color: black;
 border-radius: 50%;
 font-size: 20px;
 box-shadow: 5px green;
 }
 
.topnav a:hover {
  background-color: #11DD42;
  color: white;
}

.topnav a.active {
  background-color: yellow;
  color: white;
}

#spaces {
  padding-top: 20px;
}

footer {
  clear: both;
  margin-bottom: 0;
  background: rgb(36,14,50);
  background: -moz-linear-gradient(90deg, rgba(36,14,50,1) 0%, rgba(253,29,29,0.16506410256410253) 50%, rgba(71,50,21,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(36,14,50,1) 0%, rgba(253,29,29,0.16506410256410253) 50%, rgba(71,50,21,1) 100%);
  background: linear-gradient(90deg, rgba(36,14,50,1) 0%, rgba(253,29,29,0.16506410256410253) 50%, rgba(71,50,21,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#240e32",endColorstr="#473215",GradientType=1);
  padding: 0 20px 0 20px;
  font-size: 12px;
  color: teal;
  text-align: center;
}

.shun {
  font-size: 14px;
  background: -webkit-linear-gradient(white, red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.shun .mob {
  display: inline-block;
  width: 48%;
  text-align: left;
}

.shun .cop {
  display: inline-block;
  width: 48%;
  text-align: right;
}

/* for the hr element*/
.line {
  border: 2px solid red;
}

/* The sweetalert sections */
.alertj {
  background: rgb(213,105,29);
  background: -moz-linear-gradient(90deg, rgba(213,105,29,1) 0%, rgba(253,29,29,1) 50%, rgba(193,197,86,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(213,105,29,1) 0%, rgba(253,29,29,1) 50%, rgba(193,197,86,1) 100%);
  background: linear-gradient(90deg, rgba(213,105,29,1) 0%, rgba(253,29,29,1) 50%, rgba(193,197,86,1) 100%);
  color: white;
  border: 1px solid 11dd42;
}

.swal-button {
  background: rgb(213,105,29);
  background: -moz-linear-gradient(90deg, rgba(213,105,29,1) 0%, rgba(253,29,29,1) 50%, rgba(193,197,86,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(213,105,29,1) 0%, rgba(253,29,29,1) 50%, rgba(193,197,86,1) 100%);
  background: linear-gradient(90deg, rgba(213,105,29,1) 0%, rgba(253,29,29,1) 50%, rgba(193,197,86,1) 100%);
  color: white;
  border: 1px solid 11dd42;
}

.alert2 {
  background-color: orange;
  border: 1px solid red;
}

.swal-text {
  background-color: red;
  padding: 17px;
  border: 1px solid #F0E1A1;
  border-radius: 5px;
  display: block;
  margin: 22px;
  text-align: center;
  color: white;

.swal-overlay {
  background-color: rgba(255, 0, 0, 0.60);
}

 @-webkit-keyframes linear-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* animate the call to action button with keyframes */

@-moz-keyframes linear-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}  

@-webkit-keyframes linear-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 70%;
  }
  100% {
    background-position: 0% 80%;
  }
}  

@-keyframes linear-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 90% 50%;
  }
  100% {
    background-position: 0% 40%;
  }
}  
// This works with the last commented out JS code. I used a simpler approach with css position 
//.sticky {
//  position: fixed;
 // top: 0;
 // width: 100%;
//}

//.sticky + body {
  //padding-top: 60px;
//}
